.logos {
    display: block;
    float: right;
    min-width: 150px;
}
.logos:hover{
    cursor: pointer;
    cursor: hand;
}

#table_image {

	position: static;
	margin-top: -500px;

}
canvas {

	position: absolute;
}