.logos {
    display: block;
    float: right;
    min-width: 150px;
}
.logos:hover{
    cursor: pointer;
    cursor: hand;
}

#table_image {

	position: static;
	margin-top: -504px;
}

#averagecontainer {

    position: absolute;
    margin-top: -504px;
    width: 500px;

}

#userplacement {

    position: static;
    margin-top: -504px;
    width: 500px;

}

#your_showhide{
  
    margin-left: 140px;
    position: absolute;
    display: none;
    margin-top: 7px;
}

#average_showhide {
    margin-left: 290px;
    position: absolute;
    margin-top: 7px;
    display: none;
}

#your_showhide a, #myonoffswitch{

    font-size: .875em;
    font-family: sans-serif;
    text-decoration: none;
    color: #999;
    border: 3px solid #ccc;
    padding: 3px 10px;
    border-radius: 10px;
}

#your_showhide a:hover , #average_showhide a:hover {

    color: #777;
    border-color: #086FA1;

}


#nondraggable {
    margin-top: -504px;
    display: none;
}

#trend {
    margin-left: -504px;
    display: none;
    
}
canvas {

	position: absolute;
}

.displaygrid {

    display: block;
}

#hide_show {
    
    font-size: .8em;
    font-family: sans-serif;
}

#text_chart, #tool_tip {
    font-size: 0.72em;
    position: absolute;
    margin-top: 5px;
    font-family: sans-serif;
    margin-left:500px; 
}

#tool_tip {
    display: none;
    background-color: #415c60;
    color: #fff;
    margin-top: -457px;
    margin-left: 610px;
    padding: 1px 2.5px;
    font-family: monospace;
    font-size: .7em;
    border-radius: 100px;
    text-decoration: none;
}

#text_chart span {
    font-weight: bold;
}

.save_button {
	    /* General Propertoes */
    border:0px solid #858fa6;
    background:#086FA1;
    outline: none;
    width: 120px;
    cursor: pointer;
    font-family: Helvetica, Arial;
    font-size: .9em;
    color: #FFF;
    font-weight: normal;
    padding: 5px;
    float: left;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    margin-bottom: 5%;
    margin-left: 210px;

    /* CSS3 Styling */
    background:-moz-linear-gradient(top, #086FA1, #235D79);
    background:-webkit-gradient(linear, left top, left bottom, from(#086FA1), to(#235D79));

    -moz-box-shadow:0px 0px 1px #000;
    -webkit-box-shadow:0px 0px 1px #000;
    box-shadow:0px 0px 1px #000;
    
}
.save_button:hover {
	background:#235D79;

    /* CSS3 Styling */
    background:-moz-linear-gradient(top, #235D79, #086FA1);
    background:-webkit-gradient(linear, left top, left bottom, from(#235D79), to(#086FA1));
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-box-shadow:0px 0px 1px #000;
    -webkit-box-shadow:0px 0px 1px #000;
    box-shadow:0px 0px 1px #000;
}
.save_button:active {
   outline: none;

    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;

}

#email {
    margin-left: 10px;
    margin-top: 20px;
    font-size: .8em;
    font-family: sans-serif;
    display: none;
    position: absolute;
}

#average_power_simple {
    position: absolute;
    margin-top: 45px;
    margin-left: 10px;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: .8em;
    font-weight: bold;
    display: none;
}

.required_mail {

    width: 205px;
    border: 1px solid #ccc;
    text-indent: .5em;
    font-weight: lighter;
    font-size: .85em;
    margin-bottom: 5%;
    height: 20px;
    outline: none;
}

.search-fix-submit {

    margin-top: 11px;
}

.submit-button-sidebar {

    background: url("img/submit_2.png") 0 0 no-repeat;
    cursor: pointer;
    border: 0;
    height: 30px;
    width: 30px;
    float: right;
    position: absolute;
    margin-left: 5px;
}

.greyout{

    color: #aaa;
}

#showpercentage_fb p , #showpercentage_tw p , #showpercentage_gm p , 
#showpercentage_db p ,#showpercentage_az p, #showpercentage_eb p  {
    
    display: inline-block;
    padding-left: 10px;
    font-size: 0.8em;
    font-family: sans-serif;
}

#showpercentage_fb, #showpercentage_tw, #showpercentage_gm, 
#showpercentage_db,#showpercentage_az, #showpercentage_eb {
    
    position: absolute;
    margin-left: 500px;
    width: 100px;
}

#showpercentage_fb{
    
    margin-top: -405px;
}

#showpercentage_tw{

    margin-top: -340px;
}

#showpercentage_gm{

    margin-top: -275px;
}

#showpercentage_db{
   
    margin-top: -210px;
}

#showpercentage_az{

    margin-top: -145px;
}

#showpercentage_eb{

    margin-top: -80px;
}

.showpercent {

    position: static;
    display: none;
}

.simple {
    color: #2A2459;
}

.power {
    color: #317ED6;
}



#thoughts-blog-simple_powerful {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: .8em;
    margin-top: 0;
    margin-left: 10px;
    width: 580px;
    text-align: justify;
    display: none;
}

#thoughts-blog-simple_powerful div {

    padding-bottom: 5px;
}

.thoughts-title {
    font-weight: bold;
}

.image-thoughts {

    float: left;
    width: 60px;
}

.image-thoughts img{

    border-radius: 10px;
}


.text-thoughts {

    margin-left: 65px;
}

.facebook .thoughts-title {
    color: #3B5998;
}

.twitter .thoughts-title {
    color: #4099FF;
}

.gmail .thoughts-title {
    color: #dd1812;
}

.dropbox .thoughts-title {
    color: #3d4944;
}

.amazon .thoughts-title {
    color: #e47911;
}

.ebay .thoughts-title {
    color: #ffcc00;
}
.thoughts-italics { 

    font-style: italic;
}

#mobile-device {

    position: absolute;
    display: none;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: .8em;
    width: 600px;
    margin-left: 10px;
    font-style: italic;
}

.ui-tooltip {

    background: #415c60;
    padding: 10px 5px;
    color: white;
    font: normal .8em "Helvetica", "Arial", sans-serif;
    float:left;
    border-radius: 20px;
    width: 150px;
    position: absolute;
    opacity: .9;
    color: #fff;
}

.greyline { 

    position: relative;
    background-color: #999999;
    height: 1px;
    width: 630px;
    display: none;
    margin-top: 70px;
}



