.logos {
    display: block;
    float: right;
    min-width: 150px;
}
.logos:hover{
    cursor: pointer;
    cursor: hand;
}

#table_image {

	position: static;
	margin-top: -500px;

}
canvas {

	position: absolute;
}

.save_button {
	padding: 8px 12px;
	font-size: .7em;
	border-radius: 10px;
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	font-weight: bold;
	margin-left: 230px;
}
.save_button:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
	font-weight: bold;
}
.save_button:active {
	color: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');

}